body {
  margin: 0;
  /* background: #ececec; */
  background: #b2beff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.DiplomaData table td {
  padding: 0.2rem !important;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd,
.VIpgJd-ZVi9od-l4eHX-hSRGPd,
.VIpgJd-ZVi9od-l4eHX-hSRGPd:link,
.VIpgJd-ZVi9od-l4eHX-hSRGPd:visited,
.VIpgJd-ZVi9od-l4eHX-hSRGPd:hover,
.VIpgJd-ZVi9od-l4eHX-hSRGPd:active {
  display: none !important;
  visibility: hidden !important;
  width: 0 !important;
  height: 0 !important;
}

.goog-te-gadget {
  height: 1rem !important;
  color: transparent !important;
}

.goog-te-combo {
  margin: 0 !important;
  display: flex;
  align-items: center !important;
  width: 60px;
  font-size: 0.7rem !important;
}

/* .skiptranslate {

} */
 